/*CSS fil for layout p� index.html*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/*Basic definisjoner for � sette opp grids i siden*/
#page {
    display: grid;
    width: 100%;
    height: 1fr;
    grid-template-areas: "head head head head" "head-m head-m head-m head-m" "ls main main rs" "ls foot foot rs";
    grid-template-rows: 45px 60px 100% 25%;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
}



    /*Hoved omr�de*/
    #page > main {
        grid-area: main;
        color: #b8b8b8;
        background-color: #333333;
        padding-left: 1%;
        /*Grids i main*/
        display: grid;
        width: 99%;
        height: 1fr;
        grid-template-areas: "hm hm hm imgm" "pm pm pm imgm" "pm pm pm imgp" "pm pm pm rs";
        grid-template-rows: 10% 45% 140% 25%;
        grid-row-gap: 0.1fr;
        grid-template-columns: 2fr 2fr 2fr 1.25fr;
    }


/*Innhold i main box*/
/*Header i main*/
.headmain {
    grid-area: hm;
}

/*Paragraph i main*/
.paramain {
    grid-area: pm;
    float: right;
}

.paramain2 {
    grid-area: pm2;
    float: right;
}

/*Bilde klasse i main*/
.imgmain {
    grid-area: imgm;
    border-style: dashed;
    padding-left: 10px;
    margin: 0.1fr;
}

.imgpara {
    grid-area: imgp;
    border-style: dashed;
    padding-left: 10px;
    margin: 0.1fr;
}





/*------------------------------------------------------------------------------------------------------------------------------*/

/*Layout for medieproduksjon og historieformidling*/

/*Basic definisjoner for � sette opp grids i siden*/
#prodpage {
    display: grid;
    width: 100%;
    height: 1fr;
    grid-template-areas: "head head head head" "head-m head-m head-m head-m" "ls prod_main prod_main rs" "ls foot foot rs";
    grid-template-rows: 45px 60px 100% 25%;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
}



    /*Hoved omr�de*/
    #prodpage > main {
        grid-area: prod_main;
        color: #b8b8b8;
        background-color: #333333;
        padding-left: 1%;
        /*Grids i main*/
        display: grid;
        width: 99%;
        height: 1fr;
        grid-template-areas: "prod_hm prod_hm prod_hm prod_hm" "prod_pm prod_pm prod_pm prod_pm" "prod_pm2 prod_pm2 prod_pm2 prod_pm2" "bl bl bl bl";
        grid-template-rows: 10% 15% 140% 25%;
        grid-row-gap: 0.1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

/*Innhold i main box*/
/*Header i main*/
.prod_headmain {
    grid-area: prod_hm;
}

/*Paragraph i main*/
.prod_paramain {
    grid-area: prod_pm;
 }
.prod_paramain2 {
    grid-area: prod_pm2;
    position: center;
 }

.blank {
    grid-area:bl;
 }



/*------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/*Layout for medieproduksjon og historieformidling*/

/*Basic definisjoner for � sette opp grids i siden*/
#tverpage {
    display: grid;
    width: 100%;
    height: 1fr;
    grid-template-areas: "head head head head" "head-m head-m head-m head-m" "ls prod_main prod_main rs" "ls foot foot rs";
    grid-template-rows: 45px 60px 100% 25%;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
}



    /*Hoved omr�de*/
    #tverpage > main {
        grid-area: prod_main;
        color: #b8b8b8;
        background-color: #333333;
        padding-left: 1%;
        /*Grids i main*/
        width: 99%;
        height: 1fr;
        min-width: 600px;
        grid-template-areas: "tver_hm tver_hm tver_hm tver_hm" "bl bl bl bl" "tver_pm tver_pm tver_pm tver_pm" "tver_pm2 tver_pm2 tver_pm2 tver_pm2" ;
        grid-template-rows: 8% 12% 140% 25%;
        grid-row-gap: 0.1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

/*Innhold i main box*/
/*Header i main*/
.tver_headmain {
    grid-area: tver_hm;

}

/*Paragraph i main*/
.tver_paramain {
    grid-area: tver_pm;
 }
.tver_paramain2 {
    grid-area: tver_pm2;
    position: center;
 }

.blank {
    grid-area:bl;
 }



/*------------------------------------------------------------------------------------------------------------------------------*/

