  

/*Her er bakgrunnsfarge og margin som gjør at siden fyller hele skjermen*/
body {
    background-color: #3f4045;
    margin: 0;
}




/*Setter opp headeren*/
    #page > header {
        margin: 0;
        padding: 0px;
        text-align: center;
        grid-area: head;
        background-color: #302b7e ;
        border-color: white;
        /*border-style:dashed;*/
    }


/*Her er menyen under headeren. Anbefaler å ha samme farge som header*/
    #page > header-menu {
        margin: 0;
        margin-bottom: 1%;
        padding-bottom: 0.1fr;
        padding-left: 5px;
        text-align: center;
        grid-area: head-m;
        grid-row-gap: 1px;
        background-color: #302b7e;
        border-color: white;
        /*border-style:dashed;*/
    }


/*For navigasjons meny*/
    #page > nav {
        grid-area: nav;
        background-color: #ffa08c;
    }

/*For mellomrommet på venstre siden*/
    #page > left-space {
        grid-area: ls;
        background-color: transparent;
    }

    /*For mellomrommet på høyre siden*/
    #page > right-space {
        grid-area: rs;
        background-color: transparent;
    }


    /*Footer text stil*/
    .fotp{
        color: #c0c0c0;
    }


    /*Gir hjem knappen funksjonalitet*/
    .homebtn a {
        color:black;
        text-decoration:none;
        font-size:25px;
        padding-top:10px;
    }

    /*Footer er her*/
    #page > footer {
    grid-area: foot;
    text-align: center;
    background-color: transparent;
    }



/*DROPDOWN MENY TING*/
/*Selve knappen*/
.dropbtn {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*Sier hvor innholdet skal*/
.dropdown {
    position: relative;
    float: left;
    display: inline-block;
}

/*Innholdet*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*Hyperkobling i dropdown menyinnholdet*/
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/*Mørkere farge når du holder over knappen*/

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkred;
}

/*Ned til her*/




.header-long {
    padding:10%;

}