
/*M� fikse at bildene hakker litt og at st�rrelsen ikke er ordentlig*/


.Bildekarusell /* Navnet p� classen */ {
    animation-name: pictsk; /* Navnet p� animasjonen*/
    animation-duration: 20s; /* Hvor lenge skal den vare, f�r den gjentar seg selv */
    animation-iteration-count: infinite; /* Hvor mange ganger skal den gjentas? - Her uendelig */
    min-height: 600px; /* Minimumsh�yde p� classen */
    min-width:900px; /*Minimumsbredde p� classen*/
    max-height:600px;
    max-width:900px;
    border-radius: 25px; /*Avrunnede hj�rner */
    margin-left: 1fr; /* Hvor langt fra kanten classen skal v�re*/
    margin-right: 1fr; /* Hvor langt fra kanten classen skal v�re*/
    border-style: double;
    border-color: white;
}

    .Bildekarusell:hover /* Hva skal skej n�r en har musepekeren over animasjonen (classen) */ {
        border-color: gray;
     } 

@keyframes pictsk /* n�kkelbilder/keyframes som skal brukes i animasjonen ved navn example */ {
  

    25% {
        background-image: url(Bilder/4bilder/1-Alene-smol.png);
    }

    50% {
        background-image: url(Bilder/4bilder/2-Tostykker-smol.png);
    }

    75% {
        background-image: url(Bilder/4bilder/3-littfolk-smol.png);
    }

    100% {
        background-image: url(Bilder/4bilder/4-AlleSammen-smol.png);
    }
}
